/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
	height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
.full-circle {
    background: #1E90FF;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
}
.hollow-circle {
    background: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-color: #1E90FF;
    border-width: 3px;
    border-style: solid;
    display: inline-block;
}

.filter-box {
    position: absolute;
    z-index: 2;
    margin: 80px 110px;
    background-color: white;
    padding: 15px 20px 15px 20px;
    border-radius: 4px;
    border-width: 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    color: rgb(86, 86, 86);
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
}

.filter-select {
	margin-left: 10px;
}